<template name="slot_m">
	<div class="lounge-wrapper-outer">
		<div class="lounge-wrapper-inner">
			<div class="lounge-wrapper">
				<div class="lounge-date-host-loc">
					<div class="lounge-date-host-loc-inner">
						<div class="lounge-date">
							<div class="lounge-day">
						    {{slot_day}},
						  </div>
						  <div class="lounge-time">
						    {{slot_time}}
						  </div>
						  <div class="lounge-date-numbers">
						    {{slot_date_numbers}}
						  </div>
						</div>
					</div>
					<div class="lounge-host">
  					<p>Mate: {{mate_name}}</p>
					</div>
					<div class="lounge-loc">
						{{slot_dorm}}
					</div>
				</div>
				<div class="lounge-spots-buttons">
					{{> bubbles}}
					<div class="lounge-buttons">
						<div class="this-slot-info">Slot Info
						</div>
					</div>
				</div>
				<div class="lounge-info display-none" id = {{_id}} >
					{{> slot_info_form}}
				</div>
			</div>
		</div>
	</div>
</template>





