<template name="host_request_superadmin">
	<div class = "Host Requests">
		<h2>Host Requests</h2>
		{{#each allChapters}}
			<div class="pending_host_permission_list">
				<h3>Pending Host Requests for {{name}}</h3>
				{{#if are_pending_host_requests}}
					{{#each pending_host_requests}}
						{{> permissionItem}}
					{{/each}}
				{{else}}
					<p>There are no pending Host requests for this chapter</p>
				{{/if}}
			</div>
			<br>
			<div class="approved_host_permission_list">
				<h3>Approved Host Requests for {{name}}</h3>
				{{#if are_approved_host_requests}}
					{{#each approved_host_requests}}
						{{> permissionItem}}
					{{/each}}
				{{else}}
					<p>There are no approved Host requests for this chapter</p>
				{{/if}}
			</div>
		{{/each}}
	</div>
</template>