<template name="orderForm">
	<br>
	<br>
	<br>
	<br>
	<form class= "submit_order_form">
	  	<p>First name:</p>
	  	<input type="text" id="first_name" name="first_name" value="{{storedOrder 'order_first_name'}}" required autofocus>
	  	<p>Last name:</p>
	  	<input type="text" id="first_name" name="last_name" value="{{storedOrder 'order_last_name'}}" required autofocus>
	  	<p>Clothing Type:</p>
	  	<input type="text" id="clothing_type" name="clothing_type" value="{{storedOrder 'order_clothing_type'}}" required autofocus>
	  	<p>Gender preference for washer: </p>
	  	<select id="gender" name="gender" placeholder="Select your Gender">
	  				{{#if storedOrder 'order_gender'}}
		    			<option value= "{{storedOrder 'order_gender'}}">{{storedOrder 'order_gender'}}</option>
		    		{{/if}}
		    		<option value= "male">Male</option>
		    		<option value= "female">Female</option> 
				</select>
	  	<p>Select a Dorm</p>
		   <select id="select-a-dorm" name="select-a-dorm" placeholder="Select a Different dorm" required>
		   		{{#if storedOrder 'order_dorm'}}
		   			<option value= {{storedOrder 'order_dorm'}}>{{order_spaced_name}}</option>
		   		{{/if}}
				{{#each allDorms}}
	    			<option value= {{name}}>{{spaced_name}}</option>
				{{/each}}
			</select>
		<p>Room Number: </p>
	  	<input type="number" id="room_num" name="romm_num" value="{{storedOrder 'order_room_num'}}" required autofocus>
		<button class="submit_order btn" type="submit">Choose Time Slot</button>
	</form>
</template>