<template name="orderForm">
	<br>
	<br>
	<br>
	<br>
	<form class= "submit_order_form">
	  	<p>First name:</p>
	  	<input type="text" id="first_name" name="first_name" required autofocus>
	  	<p>Last name:</p>
	  	<input type="text" id="first_name" name="last_name" required autofocus>
	  	<p>Clothing Type:</p>
	  	<input type="text" id="clothing_type" name="clothing_type" required autofocus>
	  	<p>Gender: </p>
	  	<input type="text" id="gender" name="gender" required autofocus>
	  	<p>Dorm: </p>
	  	<input type="text" id="dorm" name="dorm" required autofocus>
		<button class="submit_order btn" type="submit">Choose Time Slot</button>
	</form>
</template>