<template name="orderForm">
	<br>
	<br>
	<br>
	<br>
	<form class= "submit_order_form">
	  	<p>First name:</p>
	  	<input type="text" id="first_name" name="first_name">
	  	<p>Last name:</p>
	  	<input type="text" id="first_name" name="last_name">
	  	<p>Clothing Type:</p>
	  	<input type="text" id="clothing_type" name="clothing_type">
	  	<p>Gender: </p>
	  	<input type="text" id="gender" name="gender">
		<button class="submit_order btn" type="submit">Choose Time Slot</button>
	</form>
</template>