<template name="order_m">
	<div class="lounge-wrapper-outer">
		<div class="lounge-wrapper-inner">
			<div class="lounge-wrapper">
				<div class="lounge-date-host-loc">
					</div>
					<div class="lounge-loc">
						{{order_status}}
						{{#if picked_up}}
							{{#if delivered}}
								<p>Waiting on confirmation of delivery by customer</p>
							{{else}}
								<button class="delivered">Delivered</button>
							{{/if}}
						{{else}}
							<button class="picked-up">Picked-Up</button>
						{{/if}}
					</div>
					<div>
						<p>Customer: {{customer_name}}</p>
						<p>Clothing Type: {{order_clothing_type}}</p>
						<p>Dorm: {{order_dorm}}</p>
						<p>Room: {{order_room_num}}</p>
					</div>
				</div>
			</div>
	</div>
</template>