<template name="pendingOrder">
	<div class="lounge-wrapper-outer">
		<div class="lounge-wrapper-inner">
			<div class="lounge-wrapper">
				<div class="lounge-date-host-loc">
					<div class="lounge-date-host-loc-inner">
						<div class="lounge-date">
							<div class="lounge-day">
						    {{slotFeature "slot_day"}},
						  </div>
						  <div class="lounge-time">
						    {{slotFeature "slot_time"}}
						  </div>
						  <div class="lounge-date-numbers">
						    {{slotFeature "slot_date_numbers"}}
						  </div>
						</div>
					</div>
  					<p>Mate: {{mate_name}}</p>
					</div>
					<div class="lounge-loc">
						{{order_status_button}}
					</div>
					<div>
						<p>{{order_clothing_type}}</p>
						<p>{{order_gender}}</p>
						<p>{{order_dorm}}</p>
					</div>
				</div>
			</div>
	</div>
</template>