<template name="dashboard">
	<br>
	<br>
	<br>
	<br>
	<h2>Dashboard</h2>
	<br>
	{{#if isMate}}
	<div>
		<button class="slot btn btn-lg btn-success"> Add a Slot </button>
		{{#each upcoming_slots}}
			{{> slot_m}}
		{{/each}}
	</div>
	{{else}}
	<div>
		{{#if are_pending_orders}}
			{{#each pending_orders}}
				{{> pendingOrder}}
			{{/each}}
		{{else}}
			<button class="order btn btn-lg btn-success"> Place an Order </button>
			<br>
			<p> If you placed an order and it does not appear here, unfortunately it has been deleted</p>
		{{/if}}
	</div>
	{{/if}}
</template>