<template name="ForgotPassword">
    <h3> Can't sign in? Forgot your password?</h3>
    <div id="enter-email-div">
        <p>Enter you email address below and we'll send you password reset instructions</p>
        <form class="standard-form" action="/forgot" id="forgotPasswordForm" method="post">
          <input id="forgotPasswordEmail" type="text" name="email" placeholder="Email Address">
          <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
    <div id="email-entered-div" class="display-none">
        <p>Password reset instuctions have been sent! Check your email for the reset link.</p>
    </div>
    <!-- end #forgot-password-form -->

</template>



<template name="ResetPassword">
    {{#if resetPassword}}
    <form class="standard-form" action="/reset-password"  id="resetPasswordForm" method="post">
        <input id="resetPasswordPassword" name="password" placeholder="New Password" type="password" >
        <input id="resetPasswordPasswordConfirm" name="password-confirm" placeholder="Confirm" type="password" >
        <button class="btn btn-primary" type="submit">Reset</button>
    </form>
    <!-- end #reset-password-form -->
    {{else}}
        {{toLogin}}
    {{/if}}

</template>