<template name="footer">
	<div id="footer">

		<div class="social-media-icons">
		  <div class="twitter-icon"><a href="https://twitter.com/ThoughtLounger" target="_blank"><img src="http://i68.tinypic.com/2197xpf.jpg" alt=""></a>
		  </div> 
		  <div class="soundcloud-icon"><a href="https://soundcloud.com/thoughtlounge" target="_blank"><img src="http://i64.tinypic.com/iykhtu.jpg" alt=""></a>
		  </div> 
		  <div class="facebook-icon"><a href="https://www.facebook.com/thoughtlounge/" target="_blank"><img src="http://i65.tinypic.com/35384sh.jpg" alt=""></a>
		  </div>
		  <div class="insta-icon"><a href="https://www.instagram.com/thought_lounge/" target="_blank"><img src="http://i68.tinypic.com/6pvyb9.jpg" alt=""></a>
		  </div>  
		</div>
		<h1 id="footer-text">#whatFromInfinityToBeyondMakesYOU<a href="http://thoughtlounge.org/tl-definitions#stoke-def"><i>stoked</i></a></h1>
		<a href="http://thoughtlounge.org/#footer">
		<div class="get-in-touch-button-wrapper">
			<div class="get-in-touch-button">
				<p>Get in touch.</p>
  		</div>
  	</div>
  	</a>
	</div>
</template>